# Compiled class file
*.class
# Log file
*.log
*.png
*.jpg
*.pt
*.onnx
*.torchscript
*.ctxt
__pycache__sss
.mtj.tmp/
.idea
# Package Files #
*.jar
*.war
*.nar
*.ear
*.iml
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*
webapp
target
logs
*.db
